.contCo {
    background-color: white;
}

.botonEditar
{
    border-radius: 40px;
    background-color: #553794;
    padding: 7px;
    display: inline-flex;
    align-items: center;
    color: white;
    width: 100%;
}
.botongeneral
{
    border-radius: 16px;
    background-color: white;
    padding: 5px;
    margin: 1px;
}